/*State rules are ways to describe how our modules or layouts will look when in a particular state. Is it hidden or expanded*/
/*  Small Devices, Phones */ 

//NAV BAR
@media only screen and (max-width : 768px) {

	section.nav-container.container.mainnav{
		display:none;
		width: 0px;
		height: 0px;
	}
	
	section.mobile-container{
		padding:20px 0 20px 0;
		text-align:center;
		background:$footer-bg;
		.mobile{
				background:$red-color;
				margin-top: 5%;

			ul{
				list-style-type: none;
				padding: 0px;

				li{
				    padding: 25px 0px 25px 0px;

					&:hover{
						background:$footer-bg;
					}

				}


				a{
					text-align:center;
					font-family:$font-primary;
					color:#fff;
					font-size:24px;
					text-decoration:none;
				}
			}
		}
	}
}

//clases for NAV BAR
.rotate{
	transition: all 0.4s ease-out;
	transform: rotate(180deg);
	cursor:pointer;
}
.reverse{
	transition: all 0.4s ease-out;
	transform: rotate(0deg);
	cursor:pointer;
}




//HERO
@media only screen and (max-width : 768px) {
	.hero{
		background-size: inherit;
		margin-top:10px;

		h1{
			top:15%;
			@include font-size(70px);	 
		}
		h3{
			top:20%;
		}
		.btn-top{
			top:30%;
		}	
	}
}


//ABOUT US
@media only screen and (max-width : 768px) {
	section.about{

		.mobile-img{
			margin-top: 10%;
		}
	}
}

//FORM
@media only screen and (max-width : 768px) {
	
	.contact-us-form{
		input[type="email"], input[type="text"], textarea{
			width:100%;
		}
	}	
}

.contact-us-form-red-block{
	h1{
		font-size:30px;
	}
}

//footer
@media only screen and (max-width: 768px) {

footer{
	
	padding-top:25px; 


	div:nth-child(2){
		text-align:center;
	}

	div:last-child{
		text-align:center;
	}

	article{
		padding-top:0px;
	}
}	












}
