//Variables - Sass
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

//fonts
$font-primary:'Montserrat', sans-serif;

//colors
$nav-links:#777777;
$red-color:#9c2d32;
$black-healine:#222222;

