section.about{
	padding-top:37px;
	
	h1, h3{
		text-align:center;
		margin: 0 auto;
		font-family: $font-primary;
	}

	h1{
		text-transform: uppercase;
		color:$black-healine;
		font-weight:bold;
		padding-bottom: 10px;
	}
	h3{
		@include font-size(30px);
		color:$grey-text;
	}
	.devTeam-container{
		padding-left: 25%;

		h2{
			@include font-size(28px);
			color:black;
			font-weight:bold;
		}
		p{
			color:$grey-text;
			font-size:16px;
		}
		.set_top{
			padding-top:30px;
			font-weight:bold;
			text-transform: uppercase;
			color:$black-healine;
		}
	}
}