
section.main-container-form{
	margin-top:-5%; 
}


.contact-us-headline, .contact-us-form{
	margin:0 auto;
	background:$white-text-sec-red;
	text-align:center;

	h1, h3{
		margin:0px;
		font-family:$font-primary;		
	}

	h1{
		text-transform: uppercase;
		color:$black-healine;
		font-weight:bold;
		padding-top:45px;
		padding-bottom:10px;
	}
	h3{
		padding-bottom:45px;
		color:$nav-links;
		@include font-size(30px);
	}
	input[type="text"], input[type="email"], textarea{
		width:512px;
		text-align:center;
		border-radius:4px;
		border:1px solid #cfcfcf;
		font-size:20px;
		background:$color-bg-form;	
	}  	

	input[type="text"]{
		height:60px;
	}
	input[type="email"]{
		height:60px;
		margin-top:2%;
	}
	textarea{
		resize: none;
		height:130px;
		margin-top:2%;
	}
	button{
		@include transition(.3s ease);
		width: 220px;
		height: 60px;
		display: block;
		margin: 0 auto;
		background:$red-color;
		font-family:$font-primary;
		font-size:16px;
		color:$white-text-sec-red;
		border-radius:30px;
		border:0 none;
		outline:none;
		margin-top:2%;

		&:hover{
			@include transition(.3s ease);
			background-color:$btn-color-hover;
			box-shadow: 10px #333;
		}
	}	
}
.contact-us-headline{
	margin-top:15%; 
}
.contact-us-form{
	padding-bottom: 45px;
}

//READY TO TALK ABOUT YOUR...

.contact-us-form-red-block{
	height:290px;
	background:$red-color;
	text-align:center;

	h1{
		margin-top:0px;
		text-align:center;
		color:$white-text-sec-red;
		font-family:$font-primary;
		font-weight:bold;
		padding-top:58px;
		text-transform:uppercase;
	}
	button{
		@include transition(.3s ease);
		background:$red-color;
		border: 4px solid $white-text-sec-red;
		color:$white-text-sec-red;
		font-family:$font-primary;
		font-weight:bold;
		font-size:18px;
		padding: 20px 50px 20px 50px;
    	border-radius: 10px;
    	text-transform:uppercase;
    	cursor: pointer;
    	outline:none;
    	margin-top:28px;

    	&:hover{
    		@include transition(.6s ease);
    		background:$white-text-sec-red;
    		color:$red-color;
    		box-shadow:10px 0px 15px 0px #333;
    		cursor: pointer;
    	}
	}
}


















