.hero{
	background: url(../images/hero-img.jpg);
	background-repeat:no-repeat;
	width: 960px;
	height: 450px;
	margin: 0 auto;

	h1, h3, .btn-top{
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		text-align:center;
		margin: 0 auto;
	}
	
	h1{
		@include font-size(80px);
		color:#fff;
		text-transform: uppercase;
		font-weight:normal;
		top:30%;
	}

	h3{
		@include font-size(30px);
		font-weight:normal;
		color:#cccccc;
		top:35%;
	}
	.btn-top{
		@include transition(1s ease);
		@include font-size(24px);
		border:0 none;
		color:#fff;
		background-color:$red-color;
		padding: 15px 40px 15px 40px;
		font-family:$font-primary;
		border-radius:20px;
		-webkit-border-radius: 20px;
		top:40%;
		cursor: pointer;
		outline: none;

		&:hover{
			@include transition(.3s ease);
			background-color:$btn-color-hover;
		}
	}
}