
section.navbar-container {
	.logo-img{
		display:block;
		}	

	.navbar{
		list-style: none;
	}	
}

section.nav-container.mainnav{
	padding-top:21px;  
	padding-bottom:21px;  
	figure{
		.brand-logo{
			display: inline-block;
			position:relative;
			left: 25%;
		}
	}
	.navbar-toggle{
		background: #333;
		span{
			background: white;
		}
	}
	nav{
		ul.navbar-nav{
				margin-top:15px;
				//position:relative;
				//right: 15%;  

			li {
				//display: inline-block;
				list-style: none;
				vertical-align: middle;
				a{	@include font-size(22px);
					font-family:$font-primary;
					display: inline-block;
					padding:0 18px 0 18px ; 
					border-right:2px solid $red-color;
					color:$nav-links;
					text-transform: uppercase;
				}

				&:last-child a {
					border:none;
				}
			}

		}
	}
}

/*  Small Devices, Phones */ 
@media only screen and (max-width : 768px) {

	section.nav-container.container.mainnav{
		display:none;
		width: 0px;
		height: 0px;
	}
	
	section.mobile-container{
		text-align:center;
		
		.mobile{
				background:$red-color;
				border-radius:5%;

			ul{
				list-style-type: none;
				padding: 0px;

				li{
				    padding: 20px 0px 20px 0px;

					&:hover{
						background-color:$btn-color-hover;
						border-radius:6%;
					}

				}


				a{
					text-align:center;
					font-family:$font-primary;
					color:#fff;
					font-size:24px;
					text-decoration:none;
				}
			}
		}
	}
}

//clases for mobile
.rotate{
	transition: all 0.4s ease-out;
	transform: rotate(180deg);
	cursor:pointer;
}
.reverse{
	transition: all 0.4s ease-out;
	transform: rotate(0deg);
	cursor:pointer;
}






