
section.navbar-container {
	.logo-img{
		display:block;
		}	

	.navbar{
		list-style: none;
	}	
}

section.nav-container.mainnav{
	padding-top:21px;  
	padding-bottom:21px;  
	figure{
		.brand-logo{
			display: inline-block;
			position:relative;
			left: 25%;
		}
	}
	.navbar-toggle{
		background: #333;
		span{
			background: white;
		}
	}
	nav{
		ul.navbar-nav{
				margin-top:15px;
				//position:relative;
				//right: 15%;  

			li {
				//display: inline-block;
				list-style: none;
				vertical-align: middle;
				a{	@include font-size(22px);
					font-family:$font-primary;
					display: inline-block;
					padding:0 18px 0 18px ; 
					border-right:2px solid $red-color;
					color:$nav-links;
					text-transform: uppercase;
				}

				&:last-child a {
					border:none;
					cursor: pointer;
				}
			}

		}
	}
}

/*  Small Devices, Phones */ 
@media only screen and (max-width : 768px) {
	section.nav-container.mainnav{

		nav{
			ul.navbar-nav{

				li{
					text-align: center;
					a{
						border: none;
					}
				}
			}
		}
	}
}

