.values-container{
	max-width:100%;
	min-height: 360px;
	background: $red-color;
	padding-top:40px;
	padding-bottom:40px;
	
	h1, h3, article{
		text-transform:uppercase;
		color:$white-text-sec-red;
		text-align:center;
		font-family: $font-primary;
	}
	article{
		
		img{
			border-radius: 40px;
		}

		p{
			@include font-size(18px);
			line-height:22px;
		}
	}

}