.values-container{
	max-width:100%;
	min-height: 360px;
	background: $red-color;
	padding: 40px 10px 40px 10px;
	
	h1, h3, article{
		text-transform:uppercase;
		color:$white-text-sec-red;
		text-align:center;
		font-family: $font-primary;
	}
	h1, h3{
		font-weight:bold;
	}
	span{
		width:200px;
    	border: solid $white-text-sec-red 1px;
    	display: inline-block;
    	vertical-align: middle;
    	position:relative;
    	top:150px;

		&:first-child {
    		left:60px;
    	}

    	&:last-child {
    		right:60px;
    	}
	}
	article{
		max-width:960px;
		margin: 0 auto;
		padding-top:40px; 
		
		h3{
			@include font-size(30px);
		}


		figure{
			border-radius: 40px;
		}

		p{
			@include font-size(18px);
			line-height:22px;
		}
	}

}