
section.our-values{
	height: 360px;
	background:$red-color;

	h1{
		text-align:center;
		text-transform:uppercase;
		color:$white-text-sec-red;
		font-family: $font-primary;
		font-weight:bold;
		margin-top:40px; 
	}

}