.container
	.row
		section.about
			.col-md-12
				h1 About Us
				h3 Who we are?
			.col-md-8
				section.devTeam-container
					h2 Developer Team
					p Our super heroes are ready for your challenges of monsters projects.
					h2.set_top Wonderful Ideas
					section.articles
					.row
						.col-sm-2
							figure
								img(src="images/responsive-icon.png" width="75" height="75")

						.col-sm-10
							article
								h2 Responsive Websites
								p Proin iaculis purus consequat sem cure  digni.
						.row
						.col-sm-2
							figure
								img(src="images/marketing-icon.png" width="75" height="74")

						.col-sm-10
							article
								h2 Powerful Marketing Features
								p Proin iaculis purus consequat sem cure  digni.
			.col-md-4
				figure.mobile-img
					img(src="images/mobile-img.jpg" width="344" height="450" alt="mobile")


		
