.container
	.row
		section.about
			.col-md-12
				h1 About Us
				h3 Who we are?
			.col-md-6
				section.devTeam
					h2 Developer Team
					p Our super heroes are ready for your<br/> challenges of monsters projects.
			.col-md-6
				figure
					img(src="images/mobile-img.jpg" width="344" height="450" alt="mobile")

		
