.container-fluid
	.row
		.col-md-12
			section.main-container-form
				.contact-us-headline
					h1 Contact Us
				.contact-us-form
					fieldset
						input(placeholder="ENTER YOUR NAME" type="text" tabindex="1" required autofocus)