.container-fluid
	.row
		.col-md-12
			section.main-container-form
				.contact-us-headline
					h1 Contact Us
					h3 Feel free to ping us
				.contact-us-form
					fieldset
						input(placeholder="ENTER YOUR NAME" type="text" tabindex="1" required autofocus)
					fieldset
						input(placeholder="ENTER YOUR EMAIL" type="email" tabindex="2" required autofocus)
					textarea(placeholder="ENTER YOUR MESSAGE")
					button(type="submit") SEND IT
			section.red-block
				h1 red block		
				