.container-fluid
	.row
		footer
			.col-md-4.col-md-offset-2
				article
					p &copy; Copyright 2016 empyreamsite.com
			.col-md-2.col-md-offset-right-1
				article
					p 
						img(src="images/iphone-icon.png" width='19' height="30" alt="Iphone Icon")
						|(666) 666-6666 	
			.col-md-2.col-md-offset-right-1
				article
					p 
						img(src="images/envelop-icon.png" width='26' height="17" alt="Iphone Icon")
						|info@empyrean.com
				