.container
	.row
		p.herotext Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatem expedita repudiandae unde eum eos consequatur, aut culpa cumque, nisi illum corporis laudantium, possimus quaerat temporibus soluta neque esse fugit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, ab! Ipsum nobis delectus quis quae, natus facilis odit debitis recusandae. Recusandae facere voluptatem ipsum porro fuga mollitia voluptatum est veniam.
