section.hero
	video(autoplay="" loop="" class="fillWidth")
		source(src="http://static.videezy.com/system/resources/previews/000/000/188/original/Cars%20driving%20at%20night%20%5BSaveYouTube.com%5D.mp4" type="video/mp4")
	h1.wow.fadeIn( data-wow-duration="2s" data-wow-delay="1s") Digital Minds <br/> Best Solutions
	h3.wow.fadeIn( data-wow-duration="2s" data-wow-delay="2s") The best option for your projects
	button.btn-top(type="button")|View Portfolio
