section.hero
	video(muted autoplay="" loop="" class="fillWidth")
		source(src="https://s3.amazonaws.com/distill-videos/videos/processed/2/3M2A4273.mp4.mp4" type="video/mp4")
	h1.wow.fadeIn( data-wow-duration="2s" data-wow-delay="1s") Digital Minds <br/> Best Solutions
	h3.wow.fadeIn( data-wow-duration="2s" data-wow-delay="2s") The best option for your projects
	button.btn-top(type="button")|View Portfolio
