section.nav-container.container
  .row
    .col-md-5
      figure
        a.brand-logo(href="#")
          img(src="images/empyrean_logo.jpg" title="Empyrean - Digital Minds")
    .col-md-7 
      nav
        ul.nav-bar
          li 
            a(href="#") HOME
          li 
            a(href="#") ABOUT US
          li 
            a(href="#") PORTFOLIO
          li 
            a(href="#") CONTACT US    