section.nav-container.container.mainnav
  .row
    .col-md-6
      figure
        a.brand-logo(href="#")
          figure
            img(src="images/empyrean_logo.jpg" title="Empyrean - Digital Minds" width="166" height="47")   
    .col-md-6 
      nav
        ul.nav.navbar-nav
          li 
            a(href="#") Home
          li 
            a(href="#") About Us
          li 
            a(href="#") Portfolio
          li 
            a(href="#") Contact US    
