section.nav-container.container.mainnav
  .row
    .col-md-6
      figure
        a.brand-logo(href="#")
          figure
            img(src="images/empyrean_logo.jpg" title="Empyrean - Digital Minds" width="166" height="47")
        
    .col-md-6 
      nav
        ul.navbar-nav
          li 
            a(href="#") Home
          li 
            a(href="#") About Us
          li 
            a(href="#") Portfolio
          li 
            a(href="#") Contact US 

section.nav-bar-mobile.hidden.visible-xs             
  .row
    .col-md-12
      section.mobile-container
       figure 
          img#logo-responsive(src="images/N-Logo.png" title="Empyrean - Digital Minds" width="100" height="101")
        nav.mobile
          ul
            li 
              a(href="#") Home
            li 
              a(href="#") About Us
            li 
             a(href="#") Portfolio
            li 
              a(href="#") Contact US 
