section.nav-container.container
  .row
    .col-md-6
      figure
        a.brand-logo(href="#")
          img(src="images/empyrean_logo.jpg" title="Empyrean - Digital Minds")
    .col-md-6 
      nav
        ul.nav-bar
          li 
            a(href="#") Home
          li 
            a(href="#") About Us
          li 
            a(href="#") Portfolio
          li 
            a(href="#") Contact US    