section.container-fluid.navbar-container
	img.logo-img(src="images/empyrean_logo.jpg")
	nav
		ul.navbar
			li 
				a(href="#") HOME
			li 
				a(href="#") ABOUT US
			li 
				a(href="#") PORTFOLIO
			li 
				a(href="#") CONTACT US
