section.container-fluid.navbar-container
  figure
    img.logo-img(src="images/empyrean_logo.jpg")
  nav
    ul.navbar
      li 
        a(href="#") 
          | HOME
      li 
        a(href="#") 
          | ABOUT US
      li 
        a(href="#") 
          | PORTFOLIO
      li 
        a(href="#") 
          | CONTACT US
section.nav-container.container.mainnav
  .row
    .col-md-6
      figure
        a.brand-logo(href="#")

          img(src="images/empyrean_logo.jpg" title="Empyrean - Digital Minds" width="166" height="47")

      div.navbar-header      
        button(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar").navbar-toggle.collapsed
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar      
    .col-md-6 
      nav#navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li 
            a(href="#") Home
          li 
            a(href="#") About Us
          li 
            a(href="#") Portfolio
          li 
            a(href="#") Contact US    
