.container-fluid
	.row
		section.values-container
			h1 
				span
				| Our Values
				span

			article
				.row
					.col-md-4
						article
							figure.sprites-quality-icon
							h3 Quality over Quantity
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati in exercitationem omnis quibusdam doloribus, sapiente nisi excepturi sed quisquam dolore aliquid, quia reiciendis facilis sint molestiae. Incidunt odit, nam similique!
					.col-md-4
						article
							figure.sprites-exc-icon
							h3 Deliver Excellence 
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati in exercitationem omnis quibusdam doloribus, sapiente nisi excepturi sed quisquam dolore aliquid, quia reiciendis facilis sint molestiae. Incidunt odit, nam similique!
					.col-md-4
						article
							figure.sprites-love-icon
							h3 Last Technology Lovers	
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati in exercitationem omnis quibusdam doloribus, sapiente nisi excepturi sed quisquam dolore aliquid, quia reiciendis facilis sint molestiae. Incidunt odit, nam similique!	


		