.container-fluid
	.row
		section.our-values
			.container
				.col-md-12
					h1 Our Values
				article	 
					.col-md-12
						.col-md-4.col-xs-12
							img(src='images/quality-icon.png' width="90" height="89" alt="Quality")
							h3 Quality Over Quantity
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum veritatis magnam dolore voluptate impedit maiores quos dolor expedita voluptatem.
						.col-md-4.col-xs-12
							img(src='images/exc-icon.png' width="86" height="89" alt="Excellence")
							h3 Deliver Excellence
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum veritatis magnam dolore voluptate impedit maiores quos dolor expedita voluptatem.
						.col-md-4.col-xs-12 
							img(src='images/love-icon.png' width="87" height="89" alt="Love")
							h3 Last Technology Lovers
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum veritatis magnam dolore voluptate.