.container
	.row
		section.portfolio
			.col-md-12
				h1 Portfolio
				h3 our projects
			section.wrapper
				.row
					.col-md-6
						section
							figure
								img(src="http://lorempixel.com/276/223/")
					.col-md-5.col-md-offset-right-1
						article
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi facere, at neque quae recusandae. A repudiandae asperiores.
							a(href="https://www.xnxx.com/" target="_blank") www.empyreancr.com
			//- Hidden in Mobile				
			section.wrapper.hidden-sm.hidden-xs
				.row
					.col-md-5.col-md-offset-1
						article
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi facere, at neque quae recusandae. A repudiandae asperiores.
							a(href="https://www.xnxx.com/" target="_blank") www.empyreancr.com
					.col-md-6
						section
							figure
								img(src="http://lorempixel.com/276/223/")
			section.wrapper
				.row
					.col-md-6
						section
							figure
								img(src="http://lorempixel.com/276/223/")
					.col-md-5.col-md-offset-right-1
						article
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi facere, at neque quae recusandae. A repudiandae asperiores.
							a(href="https://www.xnxx.com/" target="_blank")|www.empyreancr.com			
			//- Hidden in desktop							
			section.wrapper.hidden.visible-sm.visible-xs
				.row
					.col-md-6
						section
							figure
								img(src="http://lorempixel.com/276/223/")
					.col-md-5.col-md-offset-right-1
						article
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi facere, at neque quae recusandae. A repudiandae asperiores.
							a(href="https://www.xnxx.com/" target="_blank")|www.empyreancr.com
												

