nav
	ul
		li: a Link1
		li: a Link2
		li: a Link3

div.myClass#myId 		
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ab officiis reprehenderit temporibus aliquid ipsa fuga magnam, ullam architecto ea iste blanditiis perspiciatis, rem atque enim, suscipit tempore dignissimos laborum.

	a()&attributes({
		'id':'idname',
		'href': 'www.google.com',
		'target': '_blank', 
		'class': ['classone', 'classtwo'] 
	}) click me
	

